h1, h5{
  display:inline-block;
}
h1{
  color: #ee2c2c;
}

h2{
  color: black;
}

h6{
  text-align: right;
  color: #ee2c2c;
  font-weight: 700;
}

body{
  margin: 50px;
  font-family: 'Quicksand', sans-serif;
  color: #777777;
}

li{
  color: #ee2c2c;
}
.side sec{
  display: inline-block;
  margin-left: 30px;
  margin-top: 50px;
}

 .row{
   display: flex;
   color: white;
   text-align: center;
   height: 60px;
   margin-bottom: 50px;
 }

.col-6boxes{
  flex-basis: 16%;
  padding: 20px;
  border: 1px solid white;
  background-color: black;
}

.dates{
  color:gray;
}

.main{
  flex-basis: 66%;
}

.side{
  flex-basis: 33%;
}

.content{
  display: flex;
  justify-content: space-between;
}

.word{
  color: #ee2c2c;
}
span{
  color:gray;
}

.redwords{
  color: #ee2c2c;
}
